:root {
  --bg: #fffdfe;
  --bg-dark: #1f2937;
  --text-dark: #d5d4d8;
  --text-light: #2b283a;
  --btn-dark: #3d4b60;
  --light-border: #d1d5db;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg-dark);

  font-family: 'Barlow', sans-serif;
  font-size: 1rem;

  color: var(--text-dark);
}

/* ******************************** */
/* *        MAIN CONTAINER        * */
/* ******************************** */

main {
  width: 100%;
  max-width: 750px;

  margin: 2% auto 0;
}

/* ******************************** */
/* *   TOGGLER - LIGHT/DARK MODE  * */
/* ******************************** */

.toggler-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-dark);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--btn-dark);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--btn-dark);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  background-color: var(--bg);
}

input:checked + .slider.round:before {
  background-color: var(--bg-dark);
}
/* ******************************** */
/* *    USER INPUTS AND BUTTON    * */
/* ******************************** */

#top-div {
  width: 100%;
  min-height: 7.5vh;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#picker-select-div {
  width: 77%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type='color'] {
  width: 20%;
  min-height: 3rem;

  border: 2px solid #fff;
  border-radius: 5px;
}

input[type='color'] {
  -webkit-appearance: none;
  /* border: none; */
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type='color']::-webkit-color-swatch {
  border: none;
}

input[type='color']:hover {
  cursor: pointer;
}

/* ******************************** */
/* *  CUSTOM COLOR MODE SELECTOR  * */
/* ******************************** */

select {
  min-height: 3rem;

  font-family: 'Barlow', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: var(--text-dark);
  background-color: var(--bg-dark);
  background: transparent;

  border: 2px solid var(--bg);
  border-radius: 5px;
  padding-left: 0.5em;
}

select > option {
}

#mode-select {
  width: 60%;
}

#number-select {
  width: 12%;
}

#scheme-btn {
  width: 20%;
  min-height: 3rem;

  font-family: 'Barlow', sans-serif;
  font-size: 0.9em;
  font-weight: 500;
  color: var(--text-dark);
  background-color: var(--btn-dark);

  border: none;
  border-radius: 5px;
}

#scheme-btn:hover {
  cursor: pointer;
}

#scheme-btn:active {
  font-size: 0.95em;
  font-weight: 700;
}

/* ******************************** */
/* *          COLOR BARS          * */
/* ******************************** */

#colors-div {
  width: 100%;
  margin-top: 1rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: 60vh 5vh;
}

.color-bar {
  grid-row: 1 / 2;
}

.color-bar:hover {
  cursor: grab;
  transform: scale(1.05);
}

.color-bar:active {
  cursor: grabbing;
  transform: scale(1.05);
}

.hex-code {
  grid-row: 2 / 3;

  text-align: center;
  font-size: 1.1em;
  font-weight: 300;
}

.hex-code:hover {
  cursor: pointer;
  font-weight: bolder;
}

/* ******************************** */
/* *         MEDIA QUERY          * */
/* ******************************** */

@media (max-width: 500px) {
  body {
    font-size: 0.75rem;
  }

  main {
    padding: 0 0.5rem;
  }

  .switch {
    transform: scale(0.8);
  }

  #top-div {
    flex-direction: column;
    margin-top: 0.5rem;
  }

  #picker-select-div {
    width: 100%;
    justify-content: space-between;
  }

  input[type='color'] {
    width: 18%;
  }

  select {
    min-height: 3rem;
    padding-left: 5px;
  }

  #mode-select {
    width: 60%;
    font-size: 0.85em;
  }

  #number-select {
    width: 13%;
  }

  #scheme-btn {
    width: 100%;

    font-size: 1.5em;
    font-weight: 400;

    margin-top: 1rem;
  }

  #scheme-btn:active {
    font-size: 1.6em;
    font-weight: 600;
  }

  #colors-div {
    grid-template-rows: 50vh 5vh;
  }

  .hex-code {
    font-size: 0.8em;
  }
}
